.search-arrow {
  height: 20px;
  width: 40px;
  border: none;
  margin: 0.5rem 0 0 0;
  font-weight: bold;
  transform: rotate(180deg);
}

.homepageBackground {
  background-color: #eeeeee;
  min-height: 100% !important;
  width: 100%;
}

.help-icon {
  width: 1.5rem;
  opacity: 0.5 !important;
  cursor: pointer;
}

html,
body {
  min-height: 100% !important;
}

.no-display {
  display: none;
}
