#datacard-heading {
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

#datacard-alternativenames {
  color: grey;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
}

.no-display {
  display: none;
}

.entity-button {
  font-size: 0.9em;
  cursor: pointer;
  float: left;
  :hover {
    text-decoration: underline;
  }
}
