#datacard-heading {
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

#datacard-othernames {
  color: grey;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
}

#datacard-alternativename {
  font-size: 1rem;
  margin-top: 1rem;
}

#datacard-mantoID {
  font-size: 1rem;
  text-align: center;
  margin: 1rem 0 1rem 0;
}

.no-display {
  display: none;
}

.entity-button {
  font-size: 0.9em;
  cursor: pointer;
  float: left;
  padding-right: 10px;
}
.entity-child-button {
  font-size: 0.9em;
  cursor: pointer;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.entity-alt-button {
  cursor: pointer;
  text-decoration: underline;
}

.collective-button {
  font-size: 0.9em;
  cursor: pointer;
  padding-right: 10px;
  // :hover {
  text-decoration: underline;
  // }
}

.entity-child-wrapper {
  float: left;
  border-top: 2px dashed lightgrey;
  margin-right: 5rem;
}

.entity-child-grouping {
  border-right: 2px dashed lightgrey;
  border-bottom: 2px dashed lightgrey;
  margin: 0rem 0rem 1rem 0;
  padding: 1rem 1rem 0.5rem 0;
  float: left;
}

.entity-parent-grouping {
  font-style: italic;
  color: grey;
  float: left;
  padding: 1rem 1rem 0.5rem 1rem;
}
