.node ellipse {
  stroke: #333;
  fill: #fff;
  stroke-width: 2px;
  &:hover {
    stroke-width: 4px;
    cursor: pointer;
  }
}

.edgePath path {
  stroke: #000000;
  stroke-width: 2px;
  fill: #ffffff00;
}

.normalEdge path {
  stroke: #000000;
  stroke-width: 2px;
  fill: #ffffff00;
}

.memberEdge path {
  stroke: grey;
  stroke-width: 2px;
  stroke-dasharray: 10, 10;
}

.disputedEdge path {
  stroke: blue;
  stroke-width: 3px;
  stroke-dasharray: 10, 10;
  &:hover {
    stroke-width: 6px;
    cursor: pointer;
  }
}

.unusualEdge path {
  stroke: red;
  stroke-width: 3px;
  &:hover {
    stroke-width: 6px;
    cursor: pointer;
  }
}

body {
  font: 300 14px "Helvetica Neue", Helvetica;
}

svg {
  height: 100%;
  width: 100%;
}

#legend-mainnode {
  border: 1px solid black;
  background-color: #fff;
  padding: 1rem;
  margin: 3rem 1rem 3rem 1rem;
  font-size: 0.7rem;
}

#legend-relationnode {
  border: 1px solid black;
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin: 3rem 1rem 3rem 1rem;
  font-size: 0.7rem;
}

#legend-collectivenode {
  border: 1px solid red;
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin: 3rem 1rem 3rem 1rem;
  font-size: 0.7rem;
}

#legend-relationedge {
  border-bottom: 2px solid black;
  padding: 1rem 1rem 0.2rem 1rem;
  margin: 3rem 1rem 3rem 1rem;
  font-size: 0.7rem;
}

#legend-disputededge {
  border-bottom: 2px dotted blue;
  padding: 1rem 1rem 0.2rem 1rem;
  margin: 3rem 1rem 3rem 1rem;
  font-size: 0.7rem;
}

#legend-unusualedge {
  border-bottom: 2px solid red;
  padding: 1rem 1rem 0.2rem 1rem;
  margin: 3rem 1rem 3rem 1rem;
  font-size: 0.7rem;
}

#legend-memberedge {
  border-bottom: 2px dashed grey;
  padding: 1rem 1rem 0.2rem 1rem;
  margin: 3rem 1rem 3rem 1rem;
  font-size: 0.7rem;
}

.no-display {
  display: none;
}
.info-page-border {
  border: solid 1px red;
  margin: 1rem 6rem 3rem;
  padding: 3rem;
  display: flow-root;
}

.entity-button {
  font-size: 1em;
  cursor: pointer;
  float: left;
  padding-right: 6px;
  padding-left: 10px;
}
