.node rect,
.node circle,
.node ellipse,
.node polygon {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
  fill: #ffffff00;
}

body {
  font: 300 14px "Helvetica Neue", Helvetica;
}

svg {
  height: 100%;
  width: 100%;
}

#legend-mainnode {
  border: 1px solid black;
  background-color: #fff;
  padding: 1rem;
  margin: 3rem 1rem 3rem 1rem;
  font-size: 0.7rem;
}

#legend-relationnode {
  border: 1px solid black;
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin: 3rem 1rem 3rem 1rem;
  font-size: 0.7rem;
}

#legend-collectivenode {
  border: 1px solid red;
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin: 3rem 1rem 3rem 1rem;
  font-size: 0.7rem;
}

#legend-relationedge {
  border-bottom: 2px solid black;
  padding: 1rem 1rem 0.2rem 1rem;
  margin: 3rem 1rem 3rem 1rem;
  font-size: 0.7rem;
}

#legend-disputededge {
  border-bottom: 2px solid blue;
  padding: 1rem 1rem 0.2rem 1rem;
  margin: 3rem 1rem 3rem 1rem;
  font-size: 0.7rem;
}

#legend-unusualedge {
  border-bottom: 2px solid red;
  padding: 1rem 1rem 0.2rem 1rem;
  margin: 3rem 1rem 3rem 1rem;
  font-size: 0.7rem;
}

#legend-memberedge {
  border-bottom: 2px solid grey;
  padding: 1rem 1rem 0.2rem 1rem;
  margin: 3rem 1rem 3rem 1rem;
  font-size: 0.7rem;
}
