.node rect,
.node circle,
.node ellipse,
.node polygon {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path {
  stroke: #333;
  stroke-width: 1.5px;
  fill: #ffffff00;
}

body {
  font: 300 14px "Helvetica Neue", Helvetica;
}

svg {
  height: 100%;
  width: 100%;
}
