#datacard-heading {
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  font-weight: 700;
}

.no-display {
  display: none;
}

.entity-button {
  font-size: 0.9em;
  cursor: pointer;
  float: left;
  :hover {
    text-decoration: underline;
  }
}
